body {
  padding: 50px 100px;
  font-size: 2em;
  color: #333;
  background: #f7f7f7;
}

h1 {
  color: #0074d9;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin: 2em 0;
}

li {
  margin: 1em;
}

li:before {
  content: "\f006";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.5em;
  color: #0074d9;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

/* Styling for form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

/* Styling for form input fields */
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Styling for submit button */
button[type="submit"] {
  background-color: #0074d9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling for submit button on hover */
button[type="submit"]:hover {
  background-color: #0264b9;
}
